<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Todo List</title>
</head>

<body>
    <div class="container">
        <div class="todo">
            <h1>Todo List</h1>

            <form id="taskForm">
                <input type="text" id="title" placeholder="Add Your New Todo" required>
                <input type="text" id="description" placeholder="Description">
                <button type="submit">Add Task</button>
            </form>

            <ul id="taskList"></ul>
        </div>
    </div>

    <script src="../javascripts/script.js"></script>
</body>

</html>